@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #2563EB;
    --gold: rgb(253, 196, 52);
    --white: #ffff;
    --black: rgba(0, 0, 0, 0.8);
}

.hero-header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    gap: 2rem;
    padding: 0rem 2rem;
}

.hero-brand-name {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem;
    cursor: pointer;
}

.fab {
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.fab:hover {
    border-bottom: 2px solid var(--gold);
}

.active {
    border-bottom: 2px solid var(--gold);
}

.fa-heart {
    color: red;
}

.hero-container1:hover {
    box-shadow: 0 5px 15px var(--black);
}

.wishlist-cards-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
}